/* Add a black background color to the top navigation bar */

 

.topnav {

    overflow: hidden;
    background-color: #f8f8f8;  
    background: url(movie-ticket-1-1-600x600.png);
  }
    
  /* Style the links inside the navigation bar */ 
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;  
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
  }
  
  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 34px;
    color: #8d7e7e;
    background: url("web-background.jpg");
  }
   
  
   
  
  /* Change the color of links on hover */
  
   
  
  .topnav a:hover {
  
     background-color: #ddd;
  
    color: black;
  
  }
  
   
  
  /* Style the "active" element to highlight the current page */
  
   
  
  .topnav a.active {
  
     background-color: rgb(0, 6, 10);
  
    color: white;
  
  }
  
   
  
   
  
  /* Style the search box inside the navigation bar */
  
   
  
  .topnav input[type=text] {
  
    float: left;
  
    padding: 6px;
  
    border: none;
  
    margin-top: 8px;
  
    margin-right: 10px;
    
    margin-left: 20px;
  
     font-size: 17px;
  
  }